@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/* Upper part */
.upper-section {
  background-color: #0d0d0d;
  min-height: 20vh;
  height: 100%;
  width: 100%;
}
.upper-section .logo {
  min-height: 200px;
  height: 100%;
}

/* down part */
.down-section {
  width: 100%;
  height: 80vh;
  background-color: #191919;
  position: relative;
}

/* input for adding task */
.down-section .add-task-input {
  max-width: 736px;
  width: 100%;
  gap: 8px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.down-section .add-task-input input {
  max-width: 644px;
  width: 100%;
  max-height: 54px;
  height: 100%;
  padding: 16px;
  border: 1px solid #262626;
  background-color: #262626;
  color: #f2f2f2;
}

.down-section .add-task-input input::placeholder {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
}

.down-section .add-task-input input:focus {
  box-shadow: none !important;
}

.down-section .add-task-input button {
  background: #1e6f9f;
  padding: 16px;
  gap: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #f2f2f2;
  border: 1px solid #1e6f9f;
}

.down-section .list-head {
  width: 100%;
  padding-top: 173px;
  max-width: 736px;
  width: 100%;
  max-width: 736px;
  width: 100%;
  margin: auto;
}

.down-section .todo-list .todo-head-text {
  color: #4ea8de;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.down-section .todo-list .hight-priority-text {
  color: #8284fa;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.down-section .todo-list .count {
  background: #333333;
  color: #d9d9d9;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 50%;
}
