@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
.upper-section {
  background: #0d0d0d;
  min-height: 20vh;
  height: 100%;
  width: 100%;
}

.upper-section .logo {
  min-height: 200px;
  height: 100%;
}

.down-section {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  background-color: #191919;
  position: relative;
}

.down-section .add-task-input {
  max-width: 736px;
  width: 100%;
  gap: 8px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.down-section .add-task-input input {
  max-width: 644px;
  width: 100%;
  max-height: 54px;
  height: 100%;
  padding: 16px;
  border: 1px solid #262626;
  background-color: #262626;
  color: #f2f2f2;
}

.down-section .add-task-input select {
  max-width: 644px;
  width: 100%;
  max-height: 54px;
  height: 100%;
  padding: 16px;
  border: 1px solid #262626;
  background-color: #262626;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 13px;
}

.down-section .add-task-input input::placeholder {
  color: #808080;
  font-size: 13px;
  font-weight: 400;
}

.down-section .add-task-input input:focus {
  box-shadow: none !important;
}

.down-section .add-task-input button {
  background: #1e6f9f;
  padding: 0px 16px;
  gap: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #f2f2f2;
  border: 1px solid #1e6f9f;
  height: 51px;
}

.filter_section {
  padding-top: 64px;
  max-width: 736px;
  width: 100%;
}

.filter_section .form-group label {
  color: #4ea8de;
  font-size: 14px;
  font-weight: 700;
}

.filter_section .form-group select {
  max-width: 644px;
  width: 100%;
  max-height: 54px;
  height: 100%;
  padding: 16px;
  border: 1px solid #262626;
  background-color: #262626;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 13px;
}

.filter_section .form-group input {
  max-width: 644px;
  width: 100%;
  max-height: 54px;
  height: 100%;
  padding: 16px;
  border: 1px solid #262626;
  background-color: #262626;
  color: #f2f2f2;

  font-size: 13px;
}

.filter_section .form-group input::placeholder {
  color: #808080;
  font-size: 13px;
  font-weight: 400;
}

.form-control:focus {
  box-shadow: none;
}
#app {
  /* margin: 20px; */
}

#taskForm {
  margin-bottom: 20px;
}

.task-item {
  border: 1px solid #333333;
  padding: 10px;
  max-width: 644px;
  width: 100%;
  margin: 20px auto 10px;
  border-radius: 8px;
  background-color: #262626;
}

.task-item strong {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.task-item .task_info {
  color: #8284fa;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

#taskCount {
  text-align: center;
  padding-top: 20px;
  color: white;
}

.buttons_groups {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.buttons_groups button {
  padding: 5px;
  border-radius: 5px;
  background: #1e6f9f;
  font-size: 14px;
  font-weight: 700;
  color: #f2f2f2;
  border: 0;
}

.task_info input {
  background: #262626;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

.task_info select {
  background: #262626;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.task_info .save_btn {
  padding: 5px;
  border-radius: 5px;
  background: #1e6f9f;
  font-size: 14px;
  font-weight: 700;
  color: #f2f2f2;
  border: 0;
}
